.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
    width: fit-content;
    padding: 20px 0;
    gap: 48px;
}

.title {
    font-size: 64px;
    margin-bottom: 20px;
    color: #fff;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #e5eeff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
        color: #fbc2eb;
    }
}

.subtitle {
    font-size: 24px;
    color: #ffffff;
    text-align: start;

    span {
        color: #fbc2eb;
    }
}
