.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Учитываем высоту шапки или других фиксированных элементов */
    padding: 20px;
}

.pageContent {
    text-align: center;
    padding: 40px;
    border-radius: 8px;
}